<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Market Making Game</title>
    <link rel="stylesheet" href="/static/style.css">
    <script>
        const config = {{ config | tojson }};
    </script>
    <script src="/static/script.js" defer></script>
</head>
<body>
    <h1>Market Making Game</h1>
    <div id="round-counter">Round: <span>1</span></div>
    <div id="player-position">Player Position: <span>0</span></div>
    <div class="container">
        <div class="bid">
            <h2>Bid</h2>
            <label for="bid-price">Price: </label>
            <input type="range" id="bid-price" min="0" max="100" step="1">
            <span id="bid-price-display">0</span>
            <br>
            <label for="bid-size">Bid Size:</label>
            <select id="bid-size" name="bid-size"></select>
            <div class="display-bid-size"></div>
        </div>


        <div class="ask">
            <h2>Ask</h2>
            <label for="ask-price">Price: </label>
            <input type="range" id="ask-price" min="0" max="100" step="1">
            <span id="ask-price-display">0</span>
            <br>
            <label for="ask-size">Ask Size:</label>
            <select id="ask-size" name="ask-size"></select>
            <div class="display-ask-size"></div>
        </div>
        <button id="submit">Submit</button>
    </div>
    <table id="trades-table">
        <thead>
            <tr>
                <th>Action</th>
                <th>Size</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
</body>
</html>
